*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}
.content{
    border: .15rem solid rgb(156, 155, 155);
    margin: auto;
    padding: 2rem;
    width: 40%;
    margin-top: 5rem;
}
.title{
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
    padding: 1rem;
}
.search-bar{
    
    /* padding: 1rem; */
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    margin: auto;
}
input{
    height: 100%;
    width: 70%;
    outline: none;
    padding-inline-start:.5rem;
    font-size: 1.5rem;
    border: .15rem solid grey;
}
button{
    height: 100%;
    width: 20%;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: black;
    color: white;
    outline: none;
}
.results{
    /* border: .15rem solid grey; */
    width: 80vw;
    margin: auto;
    padding: 1rem;
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}
.books{
    border: .15rem solid grey;
    width: 30rem;
    height: 40rem;
    border-radius: .25rem;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}
.book-title{
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
    padding: .25rem;
}
img{
    /* border: .15rem solid grey; */
    width: 100%;
    height: 80%;
    height: 20rem;
    text-align: center;
}
.author{
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
}
a{
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
}
.rest{
    padding: 1rem;
}
.published, .page-count{
    font-weight: 700;
    font-size: 1.5rem;
    color: black;
}